{% extends "base.html" %}
{% block content %}
<h2>Your Profile</h2>
<a href="{{ url_for('create_post') }}">Create New Post</a>
<a href="{{ url_for('home') }}">View All Posts</a>
<a href="{{ url_for('logout') }}">Logout</a>

<h3>Your Posts:</h3>
<ul>
    {% for post in posts %}
        <li>
            <h3><a href="{{ url_for('post_details', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p>{{ post.content }}</p>
            <small>Posted on {{ post.timestamp }}</small>
        </li>
    {% endfor %}
</ul>
{% endblock %}
